<h1> Create an Association </h1>

<%= form_for @artist_instrument do |f|%>
    <%= f.label :artist_id%>
    <%= f.collection_select :artist_id, Artist.all, :id, :name%>
    <%= f.label :instrument_id%>
    <%= f.collection_select :instrument_id, Instrument.all, :id, :name%>
    <%= f.submit%>

    <%end%> 

   